.subreddits{
    display: flex;
    margin: 15px 10px ;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 2px thin gray;
}

.cards{
    background-color:#FCFCFC;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 5px 10px 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0.7px 4px rgba(0, 0, 0,0.45),
    0 1.9px 11.1px rgba(0, 0, 0,0.065),
    0 4.5px 26.8px rgba(0, 0, 0,0.085),
    0 15px 89px rgba(0, 0, 0,0.13);
} 

.cards button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 0.175rem;
    background: #ea0e4b;
}
 .cards button::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
 
} 

.cards button:hover::after{
    transform: scale(1,1);  
} 


.cards img{
    height: 50px;
    width: 60px;
    border-radius: 100px;
    padding: 10px;
    cursor: not-allowed;
}

.cards button {
    outline: none;
    display: flex;
    background-color:#FCFCFC;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: #292734;
    text-decoration: none;
    padding: 7px 15px 13px 15px;
    cursor: pointer;
  }


